body{
    overflow: hidden;
}
.headerContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 30vh;
    background-color: #1a1a1a;
}

.headerText {
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.logo {
    width: 20rem;
    height: 10rem;
    margin-left: 50%;
    /*Move it back by 50% of its own width👇*/
    transform: translateX(-50%);
}

.searchContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 30vh);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}

#searchBar {
    margin-left: 50%;
    /*Move it back by 50% of its own width👇*/
    transform: translateX(-50%);
    width: 300%;
    font-family:Century Gothic;
    margin-top: 10rem;
    font-weight: bold;
}

.photoContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}
.child{
    width: 31.25rem;
    height: 31.25rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1rem;
}

@media screen and (max-width: 800px) {
    #searchBar{
        width: fit-content;
    }

}
